![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [6]:
ejer_1 = [1,2,3,4,5]
ejer_1.sort(reverse = True)
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [7]:
ejer_2 = [1,2,3,4,5]
for i in ejer_2:
    print(i**2, end=" ")

1 4 9 16 25

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [8]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

In [9]:
#Primero, iterar por cada elemento de las primeras dos listas a través de un FOR anidado.

ejer_3_3 = []
for i in range(len(ejer_3_1)): #desde el rango de items que hay en cada lista (0, 1)
    for j in range(len(ejer_3_2)): #for anidado para la segunda lista
        ejer_3_3.append(ejer_3_1[i] + " " + ejer_3_2[j]) #se une todo con un append

print(ejer_3_3)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [10]:
# intento fallido
for i in range(len(ejer_3_1)):
    i = (ejer_3_1[i] + ejer_3_2[i])
    for j in range(len(ejer_3_2)):
        j = (ejer_3_2[j] + ejer_3_1[i])

TypeError: list indices must be integers or slices, not str

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [ ]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

print(ejer_4[4])
ejer_4[4] = 0
print(ejer_4[4])

45
0

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [ ]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

nuevo_set = set(ejer_5)
print(nuevo_set)

{3, 67, 45, 78, 47, 19, 20, 90, 29}

In [ ]:
ejer_5.copy()

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [ ]:
nuev_ejer = set(ejer_5)
print(nuev_ejer)

{3, 67, 45, 78, 47, 19, 20, 90, 29}

In [ ]:
while 3 in ejer_5:
    ejer_5.remove(3)
print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [ ]:
ejer_6_1 = (1,2,3)
ejer_6_2 = (4,)
ejer_6_3 = ("a",1.5,True)
print(type(ejer_6_2))
print(type(ejer_6_3))

<class 'tuple'>
<class 'tuple'>

In [ ]:
print(ejer_6_3[0])
len(ejer_6_3)

a

3

In [ ]:
ejer_6_4 = ejer_6_3 + (4,)
print(ejer_6_4)

('a', 1.5, True, 4)

In [ ]:
ejer_6_5 = list(ejer_6_4)
ejer_6_5.remove(1.5)
print(ejer_6_5)

print(type(ejer_6_5))

['a', True, 4]
<class 'list'>

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [ ]:
ejer_7 = ("cien", "cañones", "por", "banda")

In [ ]:
" ".join(ejer_7)

'cien cañones por banda'

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [ ]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

In [ ]:
ejer_8[2]

3

In [ ]:
ejer_8[-3]

90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [ ]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

In [ ]:
ejer_9.count(3) #con count se sabe cuantas veces se repite un elemento

7

In [ ]:
ejer_9_1 = ejer_9[4:10]
print(ejer_9_1)

(19, 3, 29, 45, 67, 78)

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [ ]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print(type(ejer_9))
ejer_9 = list(ejer_9)
print(type(ejer_9))

<class 'tuple'>
<class 'list'>

In [ ]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

In [ ]:
ejer_9 = set(ejer_9)
print(type(ejer_9))

<class 'set'>

In [ ]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

In [ ]:
dict_9 = {}
for i, elem in enumerate(ejer_9):
    dict_9[i] = elem

print(dict_9)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [ ]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

In [ ]:
lista_11 = []

dict_11 = {}
for clave, valor in ejer_11:
    if clave in dict_11:
        dict_11[clave] = dict_11[clave] + (valor) 
    else:
        dict_11[clave] = valor

        
print(dict_11)

In [ ]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dict_11 = {}

for clave, valor in ejer_11: #primero un for en clave, valor dentro de la lista ejer_11
    if clave not in dict_11: #si, clave no en dict_11 (normal al principio,)
        dict_11[clave] = []  #se añadirá la clave cada vez. al principio X
    dict_11[clave].append(valor)  #dict_11 a cada clave, se le añade un valor

print(dict_11)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [11]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}

In [15]:
list_12 = []
for clave in ejer_12:
    list_12.append(clave)

list_12.sort()
print(list_12)

[2, 4, 5, 8]

In [29]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}

In [ ]:
list_13 = []
for clave in ejer_12: #variable que recorre el diccionario desde lasclaves
    list_13.append(ejer_12[clave]) #con append añadimos a la lista el primer elemento del diccionario a partir de su clave
list_13.sort(reverse = True) #con sort reverse.true creo un orden descendente
print(list_13)

[234, 98, 78, 29]

29

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [1]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

In [2]:
ejer_13_1.update(ejer_13_2)

In [3]:
print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [4]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

In [18]:
list_13 = []
for clave in ejer_14:
    list_13.append (ejer_14[clave])
    
print(list_13)

suma_valor = sum(list_13)
print(suma_valor)

[11, 22, 33, 44, 55]
165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [22]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
import operator

In [27]:
list_15 = []
for clave in ejer_15:
    list_15.append (ejer_15[clave])  #primero, sacamos todos los valores del diccionario a una lista
print(list_15)

mult_ = 1 #inicializamos una variable a 1 para que empieze multiplicando con un valor el primer elemento
for valor in list_15:
    mult_ *= valor  # a través del for, la variable inicializada se multiplicará 1 a 1 por los valores del dicc. con 1
print(mult_)

[11, 22, 33, 44, 55]
19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [28]:
set_1 = {"Leon", "Águila", "Comadreja"}

In [30]:
set_1.add("Cobaya")
print(set_1)

{'Comadreja', 'Águila', 'Leon', 'Cobaya'}

In [36]:
set_1.discard("Cobaya")
print(set_1)

{'Comadreja', 'Águila', 'Leon'}